/* bocne menu */
.sidenav {
    height: 100%;
    width: 165px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212529;
    overflow-x: hidden;
    padding-top: 10px;
}


.sidenav a {
    padding: 5px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}


.sidenav a:hover {
    color: #f1f1f1;
}


.main {
    margin-left: 165px;
    padding: 0px 0px;
}

.footer {

    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 100px;
    font-size: 18px;
    background-color: #212529;
    font-size: 18px;
    color: #818181;
    display: none;
}

@media (max-width: 992px) {
    .sidenav {width: 130px;}
    .sidenav a {font-size: 15px;}
    .main {margin-left: 130px;}

}

@media (max-width: 768px) {
    .sidenav {width: 100px;}
    .sidenav a {font-size: 11px;}
    .main {margin-left: 100px;}

}

@media (max-width: 576px) {
    .sidenav {
        display: none;
    }
    .main {margin-left: 0px;}
    .footer {display: flex;}
}


    /* orezanie obrazka */
    .cropped1 {
        width: 100%; /* width of container */
        height: 150px; /* height of container */
        object-fit: cover;
    }

    /* okruhly obrazok na stred */
    .head2 {
        max-width: 40%; /* width of container */
        height: auto; /* height of container */
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .head {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* oddelovac */
    hr.solid {
        border-top: 2px solid #bbb;
    }

    /* text na stred */
    .divText {
        display: flex;
        align-items: center;
    }

    /* obrazky overlay */
    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
    }

    .hovereffect .overlay {
        position: absolute;
        overflow: hidden;
        width: 80%;
        height: 80%;
        left: 10%;
        top: 10%;
        border-bottom: 1px solid #FFF;
        border-top: 1px solid #FFF;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
        transform: scale(0, 1);
    }

    .hovereffect:hover .overlay {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .hovereffect img {
        display: block;
        position: relative;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
    }

    .hovereffect:hover img {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
        filter: brightness(0.6);
        -webkit-filter: brightness(0.6);
    }

    .hovereffect h2 {
        text-transform: uppercase;
        text-align: center;
        position: relative;
        font-size: 17px;
        background-color: transparent;
        color: #FFF;
        padding: 1em 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    .hovereffect a, .hovereffect p {
        color: #FFF;
        padding: 1em 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }


    /* login */
    .align {
        display: grid;
        place-items: center;
    }


    :root {
        --gridMaxWidth: 24em;
        --gridWidth: 90%;
    }

    .grid {
        inline-size: var(--gridWidth);
        margin-inline: auto;
        max-inline-size: var(--gridMaxWidth);
    }


    .icon {
        block-size: 1.25em;
        display: inline-block;
        inline-size: 1.25em;
        line-height: 1.25em;
        margin-right: 0.625em;
        text-align: center;
        vertical-align: middle;
    }

    .icon--info {
        background-color: #e5e5e5;
        border-radius: 50%;
    }


    :root {
        --bodyBackgroundColor: #eaeaea;
        --bodyColor: #999;
        --bodyFontFamily: 'Helvetica', 'Arial';
        --bodyFontFamilyFallback: sans-serif;
        --bodyFontSize: 0.875rem;
        --bodyFontWeight: 400;
        --bodyLineHeight: 1.5;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    html {
        box-sizing: border-box;
    }


    :root {
        --anchorColor: inherit;
        --anchorHoverColor: #1dabb8;
    }

    a {
        color: var(--anchorColor);
        text-decoration: none;
        transition: color 0.3s;
    }

    a:hover {
        color: var(--anchorHoverColor);
    }


    fieldset {
        border: none;
        margin: 0;
    }

    input {
        appearance: none;
        border: none;
        font: inherit;
        margin: 0;
        outline: none;
        padding: 0;
    }

    input[type='submit'] {
        cursor: pointer;
    }

    .form input[type='email'],
    .form input[type='password'] {
        inline-size: 100%;
    }


    :root {
        --loginBorderRadius: 0.25em;
        --loginHeaderBackgroundColor: #282830;

        --loginInputBorderRadius: 0.25em;
    }

    .login__header {
        background-color: var(--loginHeaderBackgroundColor);
        border-top-left-radius: var(--loginBorderRadius);
        border-top-right-radius: var(--loginBorderRadius);
        color: #fff;
        padding: 1.5em;
        text-align: center;
        text-transform: uppercase;
    }

    .login__title {
        font-size: 1rem;
        margin: 0;
    }

    .login__body {
        background-color: #fff;
        padding: 1.5em;
        position: relative;
    }

    .login__body::before {
        background-color: #fff;
        content: '';
        height: 0.5em;
        left: 50%;
        margin-left: -0.25em;
        margin-top: -0.25em;
        position: absolute;
        top: 0;
        transform: rotate(45deg);
        width: 0.5em;
    }

    .login input[type='email'],
    .login input[type='password'] {
        border: 0.0625em solid #e5e5e5;
        padding: 1em 1.25em;
    }

    .login input[type='email'] {
        border-top-left-radius: var(--loginInputBorderRadius);
        border-top-right-radius: var(--loginInputBorderRadius);
    }

    .login input[type='password'] {
        border-bottom-left-radius: var(--loginInputBorderRadius);
        border-bottom-right-radius: var(--loginInputBorderRadius);
        border-top: 0;
    }

    .login input[type='submit'] {
        background-color: #1dabb8;
        border-radius: var(--loginInputBorderRadius);
        color: #fff;
        font-weight: 700;
        order: 1;
        padding: 0.75em 1.25em;
        transition: background-color 0.3s;
    }

    .login input[type='submit']:focus,
    .login input[type='submit']:hover {
        background-color: #198d98;
    }

    .login__footer {
        align-items: center;
        background-color: #fff;
        border-bottom-left-radius: var(--loginBorderRadius);
        border-bottom-right-radius: var(--loginBorderRadius);
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .login__footer p {
        margin: 0;
    }

