/* bocne menu */
.sidenav {
    height: 100%;
    width: 165px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212529;
    overflow-x: hidden;
    padding-top: 10px;
}


.sidenav a {
    padding: 5px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}


.sidenav a:hover {
    color: #f1f1f1;
}


.main {
    margin-left: 165px;
    padding: 0px 0px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* orezanie obrazka */
.cropped1 {
    width: 100%; /* width of container */
    height: 150px; /* height of container */
    object-fit: cover;
}
/* okruhly obrazok na stred */
.head {
    max-width: 40%; /* width of container */
    height: auto; /* height of container */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* oddelovac */
hr.solid {
    border-top: 2px solid #bbb;
}
