/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 165px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #212529;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
}

/* The navigation menu links */
.sidenav a {
    padding: 5px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 165px; /* Same as the width of the sidebar */
    padding: 0px 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* orezanie obrazka */
.cropped1 {
    width: 100%; /* width of container */
    height: 150px; /* height of container */
    object-fit: cover;
}
/* okruhly obrazok na stred */
.head {
    max-width: 40%; /* width of container */
    height: auto; /* height of container */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* oddelovac */
hr.solid {
    border-top: 2px solid #bbb;
}
